@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #49225b;
    height: 100%;
    display: grid;
    place-content: center;
    width: 100%;
}
.principal{
    margin: 20px;
    background-color: #e7dbef;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.082);
    box-shadow: 3px 4px rgba(255, 255, 255, 0.048);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.principal>.text>h2>img{
    height: 20px;
    width: 20px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6e3482;
    margin-bottom: 10px;
}
.principal>.text>h1>img{
    height: 30px;
    width: 30px;
}
h2{
    color: #6e3482;
    margin-top: 10px;
}
p{
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
li{
    list-style: none;
}
.conteiner{
    width: 100vw;
}
.fts{
    width:100vw;
    margin: 0 auto;
    overflow: hidden;
}
.fts ul{
    display: flex;
    align-items: center;
    gap: 40px;
    animation: 20s infinite slide linear;
}
.fts img{
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: 3px 4px rgba(0, 0, 0, 0.021);
    border-radius: 30px;
    height: 150px;
    width: 150px;
}
.fts img:hover{
    height: 200px;
    width: 200px;
    transition: 1s;
}
.fts ul:hover{
    animation-play-state: paused;
}

@keyframes slide{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-1710px);
    }
}
